<ion-header [translucent]="true">
  <ion-toolbar>
    <img
    class="logoImg"
    src="../../assets/images/logo.jpg"
    alt=""
  />
  <ion-buttons slot="end">
    <ion-back-button style="background: rgb(99, 147, 167);" default-href="#"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="title">Projects</h1>

  <div class="project-container">
    <div class="project-bx">
    <img src="../../assets/images/logo.jpg" alt="">
      <p class="project-title">project 1</p>
    </div>
    <div class="project-bx">
    <img src="../../assets/images/logo.jpg" alt="">
      <p class="project-title">project 2</p>
    </div>
   <div class="project-bx">
    <img src="../../assets/images/logo.jpg" alt="">
      <p class="project-title">project 3</p>
    </div>
  <div class="project-bx">
    <img src="../../assets/images/logo.jpg" alt="">
      <p class="project-title">project 4</p>
    </div>
    <div class="project-bx">
    <img src="../../assets/images/logo.jpg" alt="">
      <p class="project-title">project 4</p>
    </div>
  
  
  </div>


  
</ion-content>
