<ion-header [translucent]="true">
  <ion-toolbar>
    <img
    class="logoImg"
    src="../../assets/images/logo.jpg"
    alt=""
    [routerLink]="['/home']"
  />
  <ion-buttons slot="end">
    <ion-back-button style="background: rgb(99, 147, 167);" default-href="#"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="title">Projects</h1>

  <div class="project-container">
 
  
   <div class="project-bx" (click)="todoApp()">
    <img src="../../assets/images/todo app.jpg" height="250px" alt="">
    <div class="title-bg">
      <p class="project-title">React + Vite Todo App</p>
      </div>
      <div class="skills-bg">
      <ul>
        <li>React Framework</li>
        <li>Vite</li>
        <li>JavaScript</li>
        <li>Tailwind CSS</li>
      </ul>
      </div>
    </div>
       <div class="project-bx" (click)="reactPortfolio()">
    <img src="../../assets/images/react-portfolio.jpg" height="345px" alt="">
    <div class="title-bg">
      <p class="project-title">React Portfolio </p>
      </div>
      <div class="skills-bg">
      <ul>
        <li>React Framework</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
      </div>
    </div>
      <div class="project-bx" (click)="petApp()">
    <img src="../../assets/images/sassypet-project.jpg" height="250px" alt="">
    <div class="title-bg">
      <p class="project-title">Sassy Pet App</p>
      </div>
      <div class="skills-bg">
      <ul>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>BootStrap</li>
      </ul>
      </div>
    </div>
  <!-- <div class="project-bx">
    <img src="../../assets/images/logo.jpg" alt="">
    <div class="title-bg">
      <p class="project-title">project 4</p>
      </div>
    </div>
    <div class="project-bx">
    <img src="../../assets/images/logo.jpg" alt="">
      <div class="title-bg">
      <p class="project-title">project 5</p>
      </div>
    </div>
   -->
  
  </div>

  <div class="project-container">
      <div class="project-bx" (click)="empPortal()">
    <img src="../../assets/images/cert-table.jpg" height="480px">
    <div class="title-bg">
      <p class="project-title">Certification Table (Employee Portal App)</p>
      </div>
          <div class="skills-bg">
      <ul>
        <li>Ionic Framework</li>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>SCSS</li>
      </ul>
      </div>
    </div>
      <div class="project-bx">
    <img src="../../assets/images/tmo-app.jpg" height="480px" alt="">
    <div class="title-bg">
      <p class="project-title">PTO request (Time Off App)</p>
      </div>
       <div class="skills-bg">
      <ul>
        <li>Ionic Framework</li>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>SCSS</li>
      </ul>
      </div>
    </div>

  </div>

  
</ion-content>
